<!-- START MAIN CONTENT -->
<div class="main_content">

  <!-- START SECTION BLOG -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-xl-9">
          <div class="single_post">
            <h2 class="blog_title">اما باید برای شما توضیح دهم که چگونه این ایده اشتباه است</h2>
            <ul class="list_none blog_meta">
              <li><a routerLink="blog"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
              <li><a routerLink="blog"><i class="ti-comments"></i> 2 نظر</a></li>
            </ul>
            <div class="blog_img">
              <img src="assets/images/blog_img1.jpg" alt="blog_img1">
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                  ای علی الخصوص طراحان خلاقی.</p>
                <blockquote class="blockquote_style3">
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                </blockquote>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="single_img">
                      <img class="w-100 mb-4" src="assets/images/blog_single_img1.jpg" alt="blog_single_img1">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="single_img">
                      <img class="w-100 mb-4" src="assets/images/blog_single_img2.jpg" alt="blog_single_img2">
                    </div>
                  </div>
                </div>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                  ای علی الخصوص طراحان خلاقی.</p>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                  ای علی الخصوص طراحان خلاقی.</p>
                <div class="blog_post_footer">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-md-8 mb-3 mb-md-0">
                      <div class="tags">
                        <a routerLink="blog">عمومی</a>
                        <a routerLink="blog">طرح</a>
                        <a routerLink="blog">جی کوئری</a>
                        <a routerLink="blog">نام تجاری</a>
                        <a routerLink="blog">مدرن</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <ul class="social_icons text-md-right">
                        <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                        <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post_navigation bg_gray">
            <div class="row align-items-center justify-content-between p-4">
              <div class="col-5">
                <a routerLink="1">
                  <div class="post_nav post_nav_prev">
                    <i class="ti-arrow-left"></i>
                    <span>
                      وبلاگ بعدی
                    </span>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a routerLink="blog" class="post_nav_home">
                  <i class="ti-layout-grid2"></i>
                </a>
              </div>
              <div class="col-5">
                <a routerLink="1">
                  <div class="post_nav post_nav_next">
                    <i class="ti-arrow-right"></i>
                    <span>
                      وبلاگ قبلی
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="card post_author">
            <div class="card-body">
              <div class="author_img">
                <img src="assets/images/user1.jpg" alt="user1">
              </div>
              <div class="author_info">
                <h6 class="author_name"><a href="#" class="mb-1 d-inline-block">الناز خرمی</a></h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
                  و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                  کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
              </div>
            </div>
          </div>
          <div class="related_post">
            <div class="content_title">
              <h5>پست های مرتبط</h5>
            </div>
            <div class="col-md-12 blog_thumbs p-0">
              <app-blog-block></app-blog-block>
              <app-blog-block></app-blog-block>
            </div>
          </div>
          <div class="comment-area">
            <div class="content_title">
              <h5>(3) نظرات</h5>
            </div>
            <ul class="list_none comment_list">
              <li class="comment_info">
                <app-blog-comment-info></app-blog-comment-info>
                <ul class="children">
                  <li class="comment_info">
                    <app-blog-comment-info></app-blog-comment-info>
                  </li>
                </ul>
              </li>
              <li class="comment_info">
                <app-blog-comment-info></app-blog-comment-info>
              </li>
            </ul>
            <div class="content_title">
              <h5>نظر خود را ارسال کنید</h5>
            </div>
            <form class="field_form" name="enq" method="post">
              <div class="row">
                <div class="form-group col-md-4">
                  <input name="name" class="form-control" placeholder="نام شما" required="required" type="text">
                </div>
                <div class="form-group col-md-4">
                  <input name="email" class="form-control" placeholder="ایمیل شما" required="required" type="email">
                </div>
                <div class="form-group col-md-4">
                  <input name="website" class="form-control" placeholder="سایت شما" required="required" type="text">
                </div>
                <div class="form-group col-md-12">
                  <textarea rows="3" name="message" class="form-control" placeholder="نظر شما"
                    required="required"></textarea>
                </div>
                <div class="form-group col-md-12">
                  <button value="Submit" name="submit" class="btn btn-fill-out" title="پیام خود را ارسال کنید!"
                    type="submit">ارسال</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-3 mt-4 pt-2 mt-xl-0 pt-xl-0">
          <app-blog-sidebar></app-blog-sidebar>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION BLOG -->

</div>
<!-- END MAIN CONTENT -->
