<!-- START HEADER -->
<header class="header_wrap fixed-top header_with_topbar">
  <div class="top-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start">
            <ul class="contact_detail text-center text-lg-left">
              <li><i class="ti-mobile"></i><span>021-1234567</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center text-md-right">
            <ul class="header_list">
              <li><a routerLink="compare"><i class="ti-control-shuffle"></i><span>مقایسه</span></a></li>
              <li><a routerLink="wishlist"><i class="ti-heart"></i><span>مورد علاقه</span></a></li>
              <li><a routerLink="login"><i class="ti-user"></i><span>ورود</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_header dark_skin main_menu_uppercase">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/">
          <img class="logo_light" src="assets/images/logo_light.png" alt="logo" />
          <img class="logo_dark" src="assets/images/logo_dark.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-expanded="false">
          <span class="ion-android-menu"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="dropdown">
              <a class="nav-link" routerLink="/">خانه</a>
            </li>
            <li class="dropdown dropdown-mega-menu">
              <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">محصولات</a>
              <div class="dropdown-menu">
                <ul class="mega-menu d-lg-flex">
                  <li class="mega-menu-col col-lg-3">
                    <ul>
                      <li class="dropdown-header">زنانه</li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">بلوز و شومیز</a>
                      </li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">تی شرت و پولوشرت</a>
                      </li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">شلوار و سرهمی</a>
                      </li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">لباس زیر</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">کفش زنانه</a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-col col-lg-3">
                    <ul>
                      <li class="dropdown-header">مردانه</li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-cart.html">کفش روزمره</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="checkout.html">کفش تخت</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">کمربند</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="compare.html">اکسسوری مردانه</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">کفش رسمی</a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-col col-lg-3">
                    <ul>
                      <li class="dropdown-header">بچه گانه</li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">شلوار و سرهمی</a>
                      </li>
                      <li><a class="dropdown-item nav-link nav_item"
                          href="shop-product-detail-left-sidebar.html">کمربند</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">کفش
                          تخت</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">کفش
                          روزمره</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">تی
                          شرت و پولوشرت</a></li>
                    </ul>
                  </li>
                  <li class="mega-menu-col col-lg-3">
                    <ul>
                      <li class="dropdown-header">تجهیزات جانبی</li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">شلوار و سرهمی</a>
                      </li>
                      <li><a class="dropdown-item nav-link nav_item"
                          href="shop-product-detail-left-sidebar.html">کمربند</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">کفش
                          تخت</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">کفش
                          روزمره</a></li>
                      <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">تی
                          شرت و پولوشرت</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="d-lg-flex menu_banners">
                  <div class="col-sm-4">
                     <app-header-banner></app-header-banner>
                  </div>
                  <div class="col-sm-4">
                    <app-header-banner></app-header-banner>
                  </div>
                  <div class="col-sm-4">
                    <app-header-banner></app-header-banner>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="nav-link" routerLink="blog">وبلاگ ها</a>
            </li>
            <li class="dropdown dropdown-mega-menu">
              <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">فروشگاه</a>
              <div class="dropdown-menu">
                <ul class="mega-menu d-lg-flex">
                  <li class="mega-menu-col col-lg-9">
                    <ul class="d-lg-flex">
                      <li class="mega-menu-col col-lg-4">
                        <ul>
                          <li class="dropdown-header">طرح بندی صفحه خرید</li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">نمای لیستی فروشگاه</a>
                          </li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">لیستی نوار
                              کناری سمت چپ</a></li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-list-right-sidebar.html">لیستی نوار
                              کناری سمت راست</a></li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">شبکه ای نوار
                              کناری سمت چپ</a></li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">شبکه ای نوار
                              کناری سمت راست</a></li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">بارگذاری بیشتر</a>
                          </li>
                        </ul>
                      </li>
                      <li class="mega-menu-col col-lg-4">
                        <ul>
                          <li class="dropdown-header">صفحات دیگر</li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/cart">سبد خرید</a></li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/checkout">بررسی</a></li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/dashboard">حساب کاربری</a>
                          </li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/wishlist">لیست مورد علاقه</a>
                          </li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/compare">مقایسه</a></li>
                          <li><a class="dropdown-item nav-link nav_item" routerLink="user/orderCompleted">سفارش به پایان
                              رسید</a></li>
                        </ul>
                      </li>
                      <li class="mega-menu-col col-lg-4">
                        <ul>
                          <li class="dropdown-header">صفحات محصول</li>
                          <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">پیش فرض</a>
                          </li>
                          <li><a class="dropdown-item nav-link nav_item"
                              href="shop-product-detail-left-sidebar.html">نوار کناری سمت چپ</a></li>
                          <li><a class="dropdown-item nav-link nav_item"
                              href="shop-product-detail-right-sidebar.html">نوار کناری سمت راست</a></li>
                          <li><a class="dropdown-item nav-link nav_item"
                              href="shop-product-detail-thumbnails-left.html">ریز عکس ها سمت چپ</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mega-menu-col col-lg-3">
                    <div class="header_banner">
                      <div class="header_banner_content">
                        <app-shop-banner></app-shop-banner>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="nav-link nav_item" routerLink="contact">تماس با ما</a></li>
            <li><a class="nav-link nav_item" routerLink="faq">سوالات متداول</a></li>
            <li><a class="nav-link nav_item" routerLink="rules">قوانین</a></li>

          </ul>
        </div>
        <ul class="navbar-nav attr-nav align-items-center">
          <li>
            <a #btnSearch href="javascript:void(0)" class="nav-link search_trigger"><i class="linearicons-magnifier"></i></a>
            <div class="search_wrap">
              <span class="close-search"><i class="ion-ios-close-empty"></i></span>
              <form>
                <input [(ngModel)]="searchText" name="querytext" type="text" placeholder="جستجو" class="form-control"
                  id="search_input">
                <button class="search_icon" routerLink="search" [queryParams]="searchText ? { 'q': searchText} : {}"
                  type="submit"><i class="ion-ios-search-strong close-search"></i></button>
              </form>
            </div>
            <div class="search_overlay"></div>
          </li>
          <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i
                class="linearicons-cart"></i><span class="cart_count">2</span></a>
            <div class="cart_box dropdown-menu dropdown-menu-right">
              <ul class="cart_list">
                <li>
                  <a href="#" class="item_remove"><i class="ion-close"></i></a>
                  <a href="#"><img src="assets/images/cart_thamb1.jpg" alt="cart_thumb1">تی شرت و پولوشرت</a>
                  <span class="cart_quantity"> 1عدد 78000<span class="cart_amount"> <span
                        class="price_symbole">تومان</span></span></span>
                </li>
                <li>
                  <a href="#" class="item_remove"><i class="ion-close"></i></a>
                  <a href="#"><img src="assets/images/cart_thamb2.jpg" alt="cart_thumb2">شلوار و سرهمی</a>
                  <span class="cart_quantity"> 1عدد 81000<span class="cart_amount"> <span
                        class="price_symbole">تومان</span></span></span>
                </li>
              </ul>
              <div class="cart_footer">
                <p class="cart_total"><strong>جمع :</strong>159000 <span class="cart_price"> <span
                      class="price_symbole">تومان</span></span></p>
                <p class="cart_buttons"><a href="#" class="btn btn-fill-line view-cart">سبد خرید</a><a href="#"
                    class="btn btn-fill-out checkout">بررسی</a></p>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- END HEADER -->
