<!-- START MAIN CONTENT -->
<div class="main_content">

  <!-- START SECTION BLOG -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="row blog_thumbs">
            <app-blog-block *ngFor="let item of [0,1,2,3,4,5]"></app-blog-block>
          </div>
          <div class="row">
            <!-- PAGINATION -->
            <div class="col-12 mt-2 mt-md-4">
              <ul class="pagination pagination_style1 justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i
                      class="linearicons-arrow-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-4 pt-2 mt-lg-0 pt-lg-0">
          <app-blog-sidebar></app-blog-sidebar>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION BLOG -->


</div>
<!-- END MAIN CONTENT -->
