<!-- START MAIN CONTENT -->
<div class="main_content">

  <!-- START SECTION BLOG -->
  <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                  <div class="row blog_thumbs">
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <a href="blog-single.html">
                                      <img src="assets/images/blog_small_img1.jpg" alt="blog_small_img1">
                                  </a>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">اما باید برای شما توضیح دهم که چگونه این ایده اشتباه است</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 10</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <a href="blog-single.html">
                                      <img src="assets/images/blog_small_img2.jpg" alt="blog_small_img2">
                                  </a>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 12</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <a href="blog-single.html">
                                      <img src="assets/images/blog_small_img3.jpg" alt="blog_small_img3">
                                  </a>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">چرا بلیط منچستر بسیار گران است؟</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 14</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <div class="fit-videos">
                                      <iframe src="https://player.vimeo.com/video/132464682?byline=0&portrait=0" width="540" height="360" allowfullscreen></iframe>
                                  </div>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 13</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <div class="carousel_slider owl-carousel owl-theme dot_style1" data-autoheight="true" data-autoplay="true" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay-timeout="3000" data-items="1">
                                      <a href="blog-single.html">
                                          <img src="assets/images/blog_small_img4.jpg" alt="blog_img4">
                                      </a>
                                      <a href="blog-single.html">
                                          <img src="assets/images/blog_small_img4-1.jpg" alt="blog_small_img4-1">
                                      </a>
                                  </div>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">چرا بلیط منچستر بسیار گران است؟</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 20</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <div class="fit-videos">
                                      <iframe width="540" height="360" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/118951274&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                  </div>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 18</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <div class="fit-videos">
                                      <iframe src="https://www.youtube.com/embed/7e90gBu4pas" width="540" height="360" allowfullscreen></iframe>
                                  </div>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 13</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <a href="blog-single.html">
                                      <img src="assets/images/blog_small_img5.jpg" alt="blog_small_img5">
                                  </a>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">چرا بلیط منچستر بسیار گران است؟</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 12</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="blog_post blog_style2">
                              <div class="blog_img">
                                  <div class="carousel_slider owl-carousel owl-theme nav_style5" data-nav="true" data-dots="false" data-autoheight="true" data-autoplay="true" data-loop="true" data-autoplay-timeout="3000" data-items="1">
                                      <a href="blog-single.html">
                                          <img src="assets/images/blog_small_img6.jpg" alt="blog_small_img6">
                                      </a>
                                      <a href="blog-single.html">
                                          <img src="assets/images/blog_small_img6-1.jpg" alt="blog_small_img6-1">
                                      </a>
                                  </div>
                              </div>
                              <div class="blog_content bg-white">
                                  <div class="blog_text">
                                      <h6 class="blog_title"><a href="blog-single.html">چرا بلیط منچستر بسیار گران است؟</a></h6>
                                      <ul class="list_none blog_meta">
                                          <li><a href="#"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
                                          <li><a href="#"><i class="ti-comments"></i> 17</a></li>
                                      </ul>
                                      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                      <a href="blog-single.html" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 mt-2 mt-md-4">
                          <ul class="pagination pagination_style1 justify-content-center">
                              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a></li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
            <div class="col-lg-3 mt-4 pt-2 mt-lg-0 pt-lg-0">
                <div class="sidebar">
                    <div class="widget">
                          <div class="search_form">
                              <form>
                                  <input required="" class="form-control" placeholder="جستجو..." type="text">
                                  <button type="submit" title="Subscribe" class="btn icon_search" name="submit" value="Submit">
                                      <i class="ion-ios-search-strong"></i>
                                  </button>
                              </form>
                          </div>
                      </div>
                    <div class="widget">
                        <h5 class="widget_title">پست های اخیر</h5>
                          <ul class="widget_recent_post">
                              <li>
                                  <div class="post_footer">
                                      <div class="post_img">
                                          <a href="#"><img src="assets/images/letest_post1.jpg" alt="letest_post1"></a>
                                      </div>
                                      <div class="post_content">
                                          <h6><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                          <p class="small m-0">14 اسفند 1399</p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="post_footer">
                                      <div class="post_img">
                                          <a href="#"><img src="assets/images/letest_post2.jpg" alt="letest_post2"></a>
                                      </div>
                                      <div class="post_content">
                                          <h6><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                          <p class="small m-0">14 اسفند 1399</p>
                                      </div>
                                  </div>
                              </li>

                              <li>
                                  <div class="post_footer">
                                      <div class="post_img">
                                          <a href="#"><img src="assets/images/letest_post3.jpg" alt="letest_post3"></a>
                                      </div>
                                      <div class="post_content">
                                          <h6><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h6>
                                          <p class="small m-0">14 اسفند 1399</p>
                                      </div>
                                  </div>
                              </li>
                        </ul>
                      </div>
                      <div class="widget">
                          <h5 class="widget_title">بایگانی</h5>
                          <ul class="widget_archive">
                              <li><a href="#"><span class="archive_year">بهمن 1399</span><span class="archive_num">(12)</span></a></li>
                              <li><a href="#"><span class="archive_year">دی 1399</span><span class="archive_num">(5)</span></a></li>
                              <li><a href="#"><span class="archive_year">آذر 1399</span><span class="archive_num">(6)</span></a></li>
                              <li><a href="#"><span class="archive_year">آبان 1399</span><span class="archive_num">(7)</span></a></li>
                              <li><a href="#"><span class="archive_year">مهر 1399</span><span class="archive_num">(10)</span></a></li>
                          </ul>
                      </div>
                      <div class="widget">
                        <div class="shop_banner">
                              <div class="banner_img overlay_bg_20">
                                  <img src="assets/images/sidebar_banner_img.jpg" alt="sidebar_banner_img">
                              </div>
                              <div class="shop_bn_content2 text_white">
                                  <h5 class="text-uppercase shop_subtitle">مجموعه جدید</h5>
                                  <h3 class="text-uppercase shop_title">٪30 تخفیف</h3>
                                  <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">اکنون خرید کنید</a>
                              </div>
                          </div>
                      </div>
                    <div class="widget">
                        <h5 class="widget_title">برچسب ها</h5>
                          <div class="tags">
                              <a href="#">عمومی</a>
                              <a href="#">طرح</a>
                              <a href="#">جی کوئری</a>
                              <a href="#">نام تجاری</a>
                              <a href="#">مدرن</a>
                              <a href="#">وبلاگ</a>
                              <a href="#">نکات</a>
                              <a href="#">تبلیغات</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- END SECTION BLOG -->


  </div>
  <!-- END MAIN CONTENT -->
