<app-slider></app-slider>

<!-- END MAIN CONTENT -->
<div class="main_content">

  <!-- START SECTION TABS -->
  <div class="section small_pb">
    <div class="container">
      <app-tabbed-products></app-tabbed-products>
    </div>
  </div>
  <!-- END SECTION TABS -->

  <!-- START SECTION ADVERTS -->
  <div class="section pb_20 small_pt">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <app-single-banner></app-single-banner>
        </div>
        <div class="col-md-6">
          <app-single-banner></app-single-banner>

          <div class="single_banner">
            <img [src]="bannerOne.imageUrl" alt="shop_banner_img1">
            <div class="single_banner_info">
              <h5 class="single_bn_title1">{{ bannerOne.title }}</h5>
              <h3 class="single_bn_title">{{ bannerOne.title }}</h3>
              <a href="shop-left-sidebar.html" class="single_bn_link">اکنون خرید کنید</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single_banner">
            <img [src]="bannerTwo.imageUrl" alt="shop_banner_img1">
            <div class="single_banner_info">
              <h5 class="single_bn_title1">{{ bannerTwo.title }}</h5>
              <h3 class="single_bn_title">{{ bannerTwo.title }}</h3>
              <a href="shop-left-sidebar.html" class="single_bn_link">اکنون خرید کنید</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION ADVERTS -->

  <!-- START SECTION SHOP -->
  <div class="section small_pt small_pb">
    <div class="container">
      <app-todays-sales></app-todays-sales>
    </div>
  </div>
  <!-- END SECTION SHOP -->

  <!-- START SECTION BANNER -->
  <div class="section pb_20 small_pt">
    <div class="container-fluid px-2">
      <div class="row no-gutters">
        <div class="col-md-4">
          <app-sale-banner></app-sale-banner>
        </div>
        <div class="col-md-4">
          <app-sale-banner></app-sale-banner>
        </div>
        <div class="col-md-4">
          <app-sale-banner></app-sale-banner>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION BANNER -->

  <!-- START SECTION TILE -->
  <div class="section small_pt pb_20">
    <div class="container">
      <app-tile-products></app-tile-products>
    </div>
  </div>
  <!-- END SECTION SHOP -->

  <!-- START SECTION CLIENT LOGO -->
  <div class="section small_pt">
    <div class="container">
      <app-brands></app-brands>
    </div>
  </div>
  <!-- END SECTION CLIENT LOGO -->

</div>
<!-- END MAIN CONTENT -->
