<div class="dashboard_menu">
  <ul class="nav nav-tabs flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/user" [routerLinkActiveOptions]="{ 'exact': true }" routerLinkActive="active"
        aria-controls="dashboard"><i class="ti-layout-grid2"></i>داشبورد</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../cart" routerLinkActive="active"><i class="ti-shopping-cart-full"></i>سبد
        خرید</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../compare" routerLinkActive="active"><i class="ti-control-shuffle"></i>مقایسه</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../wishlist" routerLinkActive="active"><i class="ti-heart"></i>علاقه مندی ها</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="orders" routerLinkActive="active"><i class="ti-time"></i>سفارشات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="address" routerLinkActive="active"><i class="ti-location-pin"></i>آدرس من</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile" routerLinkActive="active"><i class="ti-id-badge"></i>جزئیات حساب</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="../login"><i class="ti-lock"></i>خروج</a>
    </li>
  </ul>
</div>
