<div class="tab-content dashboard_content">
  <div class="tab-pane active show">
    <div class="card">
      <div class="card-header">
        <h3>داشبورد</h3>
      </div>
      <div class="card-body">
        <p>از داشبورد حساب شما. می توانید سفارشات اخیر خود را به راحتی بررسی کرده و <a
            href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">مشاهده کنید</a>، آدرس های
          ارسالی و <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">صورتحساب خود را
            مدیریت کنید</a> و <a href="javascript:void(0);"
            onclick="$('#account-detail-tab').trigger('click')">گذرواژه و جزئیات حساب خود را ویرایش کنید.</a>
        </p>
      </div>
    </div>
  </div>
</div>

