<div class="product">
  <div class="product_img">
    <a routerLink="product">
      <img [src]="'assets/images/product_img' + temp_id + '.jpg'" alt="product_img1">
    </a>
  </div>
  <div class="product_info">
    <h6 class="product_title"><a routerLink="product">لباس آبی زنانه</a></h6>
    <div class="product_price">
      <span class="price">45000 تومان</span>
      <del>55000 تومان</del>
      <div class="on_sale">
        <span>٪35 تخفیف</span>
      </div>
    </div>
    <div class="rating_wrap">
      <div class="rating">
        <div class="product_rate" style="width:80%"></div>
      </div>
      <span class="rating_num">(21)</span>
    </div>
  </div>
</div>
