<div class="col-12">
  <div class="blog_post blog_style2">
    <div class="blog_img">
      <a routerLink="1">
        <img src="assets/images/blog_small_img2.jpg" alt="blog_small_img2">
      </a>
    </div>
    <div class="blog_content bg-white">
      <div class="blog_text">
        <h6 class="blog_title">
          <a routerLink="1">
            {{ blogModel.title }}
        </a>
        </h6>
        <ul class="list_none blog_meta">
          <li><a routerLink="blog"><i class="ti-calendar"></i> 14 اسفند 1399</a></li>
          <li><a routerLink="blog"><i class="ti-comments"></i> 12</a></li>
        </ul>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
          چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        <a routerLink="1" class="btn btn-fill-line border-2 btn-xs rounded-0">بیشتر</a>
      </div>
    </div>
  </div>
</div>
