<div class="product-image vertical_gallery">
    <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-vertical="true"
      data-vertical-swiping="true" data-slides-to-show="5" data-slides-to-scroll="1" data-infinite="false">
      <div class="item">
        <a href="#" class="product_gallery_item active" data-image="assets/images/product_img1.jpg"
          data-zoom-image="assets/images/product_zoom_img1.jpg">
          <img src="assets/images/product_small_img1.jpg" alt="product_small_img1" />
        </a>
      </div>
      <div class="item">
        <a href="#" class="product_gallery_item" data-image="assets/images/product_img1-2.jpg"
          data-zoom-image="assets/images/product_zoom_img2.jpg">
          <img src="assets/images/product_small_img2.jpg" alt="product_small_img2" />
        </a>
      </div>
      <div class="item">
        <a href="#" class="product_gallery_item" data-image="assets/images/product_img1-3.jpg"
          data-zoom-image="assets/images/product_zoom_img3.jpg">
          <img src="assets/images/product_small_img3.jpg" alt="product_small_img3" />
        </a>
      </div>
      <div class="item">
        <a href="#" class="product_gallery_item" data-image="assets/images/product_img1-4.jpg"
          data-zoom-image="assets/images/product_zoom_img4.jpg">
          <img src="assets/images/product_small_img4.jpg" alt="product_small_img4" />
        </a>
      </div>
    </div>
    <div class="product_img_box">
      <img id="product_img" src='assets/images/product_img1.jpg'
        data-zoom-image="assets/images/product_zoom_img1.jpg" alt="product_img1" />
      <a href="#" class="product_img_zoom" title="Zoom">
        <span class="linearicons-zoom-in"></span>
      </a>
    </div>
    </div>