<div class="tab-pane">
  <div class="card">
    <div class="card-header">
      <h3>سفارشات</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>سفارش</th>
              <th>تاریخ</th>
              <th>وضعیت</th>
              <th>جمع</th>
              <th>اقدامات</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1234</td>
              <td>15 اسفند 1399</td>
              <td>در حال پردازش</td>
              <td>78000 تومان برای 1 مورد</td>
              <td><a href="#" class="btn btn-fill-out btn-sm">نمایش</a></td>
            </tr>
            <tr>
              <td>#2366</td>
              <td>15 اسفند 1399</td>
              <td>تکمیل شد</td>
              <td>81000 تومان برای 1 مورد</td>
              <td><a href="#" class="btn btn-fill-out btn-sm">نمایش</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
