<li>
    <div class="comment_img">
      <img src="assets/images/user1.jpg" alt="user1" />
    </div>
    <div class="comment_block">
      <div class="rating_wrap">
        <div class="rating">
          <div class="product_rate" style="width:80%"></div>
        </div>
      </div>
      <p class="customer_meta">
        <span class="review_author">ستاره جمشیدی</span>
        <span class="comment-date">5 اسفند 1399</span>
      </p>
      <div class="description">
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
          است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
      </div>
    </div>
  </li>
