<div class="sidebar">
  <div class="widget">
    <div class="search_form">
      <!-- SEARCH -->
      <form>
        <input required="" class="form-control" placeholder="جستجو..." type="text">
        <button type="submit" title="Subscribe" class="btn icon_search" name="submit" value="Submit">
          <i class="ion-ios-search-strong"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="widget">
    <h5 class="widget_title">پست های اخیر</h5>
    <ul class="widget_recent_post">
      <li *ngFor="let item of [0,1,2]">
        <app-recent-blog-block></app-recent-blog-block>
      </li>
    </ul>
  </div>
  <div class="widget">
    <app-blog-archive></app-blog-archive>
  </div>
  <div class="widget">
    <app-shop-banner></app-shop-banner>
  </div>
  <div class="widget">
    <h5 class="widget_title">برچسب ها</h5>
    <app-blog-tag></app-blog-tag>
  </div>
</div>
