<div class="sidebar">
  <div class="widget">
    <div class="search_form">
      <!-- SEARCH -->
      <form>
        <input required="" class="form-control" placeholder="جستجو..." type="text">
        <button type="submit" title="Subscribe" class="btn icon_search" name="submit" value="Submit">
          <i class="ion-ios-search-strong"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="widget">
    <h5 class="widget_title">پست های اخیر</h5>
    <ul class="widget_recent_post">
      <li *ngFor="let item of recentBlogs">
        <app-recent-blog-block [recentBlogModel]="item"></app-recent-blog-block>
      </li>
    </ul>
  </div>
  <div class="widget">
    <h5 class="widget_title">بایگانی</h5>
    <ul class="widget_archive">
      <li *ngFor="let item of monthlyBlogs">
        <app-blog-archive [monthlyBlogModel]="item"></app-blog-archive>
      </li>
    </ul>
  </div>
  <div class="widget">
    <app-shop-banner [homeBannerModel]="homeBanners[0]"></app-shop-banner>
  </div>
  <div class="widget">
    <h5 class="widget_title">برچسب ها</h5>
    <app-blog-tag [keywordModel]="keywords"></app-blog-tag>
  </div>
</div>
